/* possiveis fonte (para home) 
font-family: 'Playfair Display', serif;
font-family: 'Merriweather', serif;

*/
* {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.intro-container {
	width: 100%;
	height: 100vh;
	position: relative;
	margin: 0px;

	padding: 20vh 20px 30px 20px;

	background: url('images/introRed4.jpg');
	background-position: center;
	background-size: cover;
	z-index: -1;
}

.intro-title,
.intro-subtitle {
	text-align: center;
	color: #f2f2f2;
}

.intro-title {
	font-size: 70px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

.intro-subtitle {
	font-size: 45px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}

.scroll-info {
	height: 70px;

	margin: 05% 50% 10px 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	animation: scroll 1.4s infinite ease;
}

@keyframes scroll {
	0% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(0px, 10px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
.scroll-info small {
	color: white;
	font-size: 15px;
}

.scroll-info img {
	height: 40px;
	width: 40px;
}

.arq-esc-screen {
	width: 100%;
	min-height: 100vh;
	background-color: #b52438;
}

.arq-esc-screen h2 {
	font-size: 40px;
	font-weight: 900;
	margin-bottom: 30px;
	color: white;
	font-family: 'Playfair Display', serif;
}

.arq-esc-screen p {
	font-size: 17px;
	color: white;
	font-family: 'Poppins', sans-serif;
	text-align: justify;
}

.arquitetura-screen {
	display: flex;
	align-items: center;
	margin: auto;
	width: 90%;
	max-width: 1500px;
	padding: 20px 15px 0px 15px;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.arquitetura-screen .picture {
	width: 600px;
}

.escultura-screen {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 30px 15px;
	margin: auto;
	width: 90%;
	max-width: 1500px;
	padding: 0px 15px 20px 15px;
}

.escultura-screen .text {
	margin-top: 30px;
}

.escultura-screen .picture {
	width: 400px;
	margin-left: 30px;
}

.access-button {
	border: 2px solid white;
	background-color: transparent;
	color: white;
	width: 200px;
	height: 70px;
	width: 70px;
	position: relative;
	font-family: 'Poppins', sans-serif;
	border-radius: 50%;
	margin-top: 10px;
	box-shadow: 0px 0px 0px 13px rgba(255, 255, 255, 0.3);
}
.access-button img {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.access-button .button-img1 {
	width: 30px;
}
.access-button .button-img2 {
	width: 40px;
	opacity: 0;
}
.access-button:hover > .button-img1 {
	opacity: 0;
	transition: 0.4s;
}
.access-button:hover > .button-img2 {
	opacity: 1;
	transition: 0.4s;
}

.vestibulares-screen {
	width: 100%;

	background-color: #f5b038;
	padding: 30px 20px;
}

.vestibulares-screen h2 {
	color: white;
	font-size: 40px;
	font-weight: 900;
	text-align: center;
	font-family: 'Playfair Display', serif;
}

.vestibulares-screen h3 {
	color: white;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	font-family: 'Playfair Display', serif;
}

.vestibulares-screen a {
	text-transform: none;
}

.icons-vestib-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;
	width: 90%;
	max-width: 1500px;
	margin: 50px auto 30px auto;
}
.icons-vestib-container img {
	height: 170px;
	margin: 5px;
}
.button-vestibular {
	border: 2px solid white;
	background: transparent;
	color: white;
	font-size: 22px;
	font-family: 'Poppins', sans-serif;
	padding: 10px 25px;
}

/* tentativa de fazer um carrosel */
.carousel-container {
	position: relative;
	display: flex;
}
.slide {
	display: inline-block;
	height: 300px;
	transform: scale(0.7);
	transition: 1s;
}
.slide img {
	height: 300px;
}

.active-card {
	transform: scale(1);
	transition: 1s;
}
.in-right {
	transform: scaleX(200px);
}
